<pep-page-layout>
    <ng-container pep-top-area>
        <pep-top-bar [title]="('Title_Addon' | translate)">
            <div header-start-content>
            </div>
            <div header-end-content>
            </div>
        </pep-top-bar>
    </ng-container>

    <ng-container pep-main-area>
        <div class="addon-grid">
            <mat-card class="center-card center-card-img-1">
                <mat-card-content>
                    <h2 class="example-h2"></h2>
                    <mat-progress-spinner class="pep-spinner" mode="determinate" value='75'></mat-progress-spinner>
                </mat-card-content>
            </mat-card>
            
            <mat-card class="center-card center-card-img-2">
                <mat-card-content>
                    <h2 class="example-h2"></h2>
                    <mat-progress-spinner class="pep-spinner" mode="determinate" value='50'></mat-progress-spinner>
                </mat-card-content>
            </mat-card>

            <mat-card class="center-card center-card-img-3">
                <mat-card-content>
                    <h2 class="example-h2"></h2>
                    <mat-progress-spinner class="pep-spinner" mode="determinate" value='15'></mat-progress-spinner>
                </mat-card-content>
            </mat-card>

            <mat-card class="center-card center-card-img-4">
                <mat-card-content>
                    <h2 class="example-h2"></h2>
                    <mat-progress-spinner class="pep-spinner" mode="determinate" value='70'></mat-progress-spinner>
                </mat-card-content>
            </mat-card>

            <mat-card class="center-card center-card-img-5">
                <mat-card-content>
                    <h2 class="example-h2"></h2>
                    <mat-progress-spinner class="pep-spinner" mode="determinate" value='30'></mat-progress-spinner>
                </mat-card-content>
            </mat-card>

            <mat-card class="center-card center-card-img-6">
                <mat-card-content>
                    <h2 class="example-h2"></h2>
                    <mat-progress-spinner class="pep-spinner" mode="determinate" value='90'></mat-progress-spinner>
                </mat-card-content>
            </mat-card>
        </div>

    </ng-container>
</pep-page-layout>

<pep-size-detector></pep-size-detector>