.addon-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

circle {
  stroke-width: 11%;
}

.center-card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15rem;
  background-repeat: no-repeat;
  background-position: center;
}

.pep-progress-text {
  position: absolute;
  margin-top: -7rem;
  padding-left: 1rem;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-family: sans;
  color: yellow;
  font-weight: bolder;
}

.material-icons {
  position: absolute;
  margin-top: 12rem;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: yellow;
  font-weight: bolder;
}
.pep-icon-1 {
  margin-left: -8rem;
}

.pep-icon-2 {
  margin-left: -4rem;
}

.pep-icon-4 {
  margin-left: 4rem;
}

.pep-icon-5 {
  margin-left: 8rem;
}

::ng-deep .pepperi-theme {
  .mat-progress-spinner.spinner-color-1 {
    transform: scale(1.7);
    circle {
      stroke: rgb(14, 126, 255);
    }
  }
}
::ng-deep .pepperi-theme {
  .mat-progress-spinner.spinner-color-2 {
    transform: scale(1.7);
    circle {
      stroke: rgb(245, 65, 245);
    }
  }
}
::ng-deep .pepperi-theme {
  .mat-progress-spinner.spinner-color-3 {
    transform: scale(1.7);
    circle {
      stroke: rgb(255, 54, 4);
    }
  }
}

::ng-deep .pepperi-theme {
  .mat-progress-spinner.spinner-color-4 {
    transform: scale(1.7);
    circle {
      stroke: cyan;
    }
  }
}

::ng-deep .pepperi-theme {
  .mat-progress-spinner.spinner-color-5 {
    transform: scale(1.7);
    circle {
      stroke: rgb(233, 17, 233);
    }
  }
}

::ng-deep .pepperi-theme {
  .mat-progress-spinner.spinner-color-6 {
    transform: scale(1.7);
    circle {
      stroke: rgb(50, 230, 34);
    }
  }
}
