.addon-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

circle {
  stroke-width: 11%;
}

.center-card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15rem;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.pep-ab {
  width: 100px;
  height: 100px;
}

.pep-progress-text {
  position: absolute;
  margin-top: -0rem;
  padding-left: 1rem;
  font-family: sans;
  color: #5200a6;
  font-weight: bolder;
}

.pep-header-text {
  position: absolute;
  margin-top: -12rem !important;
  padding-left: 1rem;
  font-family: sans;
  color: #5200a6;
  font-weight: bolder;
  font-size: 100%;
  z-index: 99;
}

.material-icons {
  position: absolute;
  margin-top: 12rem;
  font-weight: bolder;
}
.pep-icon-1 {
  margin-left: -8rem;
}

.pep-icon-2 {
  margin-left: -4rem;
}

.pep-icon-4 {
  margin-left: 4rem;
}

.pep-icon-5 {
  margin-left: 8rem;
}

::ng-deep .pepperi-theme {
  .mat-progress-spinner.spinner-color-1 {
    transform: scale(1.7);
    position: absolute;
    circle {
      stroke: #ff00ba;
    }
  }
}

::ng-deep .pepperi-theme {
  .mat-progress-spinner.spinner-color-10 {
    transform: scale(1.7);
    position: absolute;
    circle {
      stroke: #817e7e;
    }
  }
}

::ng-deep .pepperi-theme {
  .mat-progress-spinner.spinner-color-2 {
    transform: scale(1.7);
    circle {
      stroke: #ff00ba;
    }
  }
}

::ng-deep .pepperi-theme {
  .mat-progress-spinner.spinner-color-20 {
    transform: scale(1.7);
    position: absolute;
    circle {
      stroke: #817e7e;
    }
  }
}

::ng-deep .pepperi-theme {
  .mat-progress-spinner.spinner-color-3 {
    transform: scale(1.7);
    circle {
      stroke: #ff00ba;
    }
  }
}

::ng-deep .pepperi-theme {
  .mat-progress-spinner.spinner-color-30 {
    transform: scale(1.7);
    position: absolute;
    circle {
      stroke: #817e7e;
    }
  }
}

::ng-deep .pepperi-theme {
  .mat-progress-spinner.spinner-color-4 {
    transform: scale(1.7);
    circle {
      stroke: #ff00ba;
    }
  }
}

::ng-deep .pepperi-theme {
  .mat-progress-spinner.spinner-color-40 {
    transform: scale(1.7);
    position: absolute;
    circle {
      stroke: #817e7e;
    }
  }
}

::ng-deep .pepperi-theme {
  .mat-progress-spinner.spinner-color-5 {
    transform: scale(1.7);
    circle {
      stroke: #ff00ba;
    }
  }
}

::ng-deep .pepperi-theme {
  .mat-progress-spinner.spinner-color-50 {
    transform: scale(1.7);
    position: absolute;
    circle {
      stroke: #817e7e;
    }
  }
}

::ng-deep .pepperi-theme {
  .mat-progress-spinner.spinner-color-6 {
    transform: scale(1.7);
    circle {
      stroke: #ff00ba;
    }
  }
}

::ng-deep .pepperi-theme {
  .mat-progress-spinner.spinner-color-60 {
    transform: scale(1.7);
    position: absolute;
    circle {
      stroke: #817e7e;
    }
  }
}
